
body, html {
   height: 100%;
}

.section{
  text-align: center;
  width: 100%; 
  min-height:100%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
 
}

.contactGrid
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.contactLink{
  z-index: 1000 !important;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    .grid{
      grid-template-columns: 1fr;
     
    }
  }



#section1 {
  padding-top: 100px; 
  z-index: 2;
  background: linear-gradient(to bottom left, #3A6073, #3A78CA)
  
}
#section2 {
  padding-top:50px; 
  background: linear-gradient(to right, #833ab4,#fd1d1d,#fcb045);
  z-index: 2
}

#section3 {
  padding-top: 150px;
  background: linear-gradient(to bottom left, #AE00B2, #26009F);
  z-index: 2
} 


.manuel{
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
}

.manuel.fade-in{
  opacity: 1;
  transform: translateY(0px);
} 


.bigLetters{
  font-family: 'Roboto', sans-serif;
  font-size:5vw;
}

.regular{
font-weight: 100;
}



#particles-js{
  position: fixed;
  z-index: 0;
  width: 100%;
  min-height: 100%
}


